{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if exists %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Expenses Summary</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Summary
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="" class="btn btn-primary">BACK</a>
    </div>
  </div>

  <!-- Start of the 2x2 grid layout -->
  <div class="row">
    <div class="col-md-6">
      <canvas id="myChart1" width="400" height="400"></canvas>
    </div>
    <div class="col-md-6">
      <canvas id="myChart2" width="400" height="400"></canvas>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <canvas id="myChart3" width="400" height="400"></canvas>
    </div>
    <div class="col-md-6">
      <canvas id="myChart4" width="400" height="400"></canvas>
    </div>
  </div>
  <!-- End of the 2x2 grid layout -->
</div>
{% else %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Expenses Summary</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Summary
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="" class="btn btn-primary">BACK</a>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <p class="text-center">No data to show</p>
    </div>
  </div>
</div>
{% endif %}

<script src="{% static 'js/statsExpenses.js' %}"></script>

{% endblock content %}
